.app__laurel_awards{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 3rem;
}
.app__laurels_awards-card{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
    min-width: 230px;
}
.app__laurels_awards-card img{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}